.table-component{
  background-color: #ececec;
}

.table-container{
  margin: 0 auto;
  width: 75%;
}

table tr:hover {
    cursor: pointer;
    background-color: #FF5722;
    color: rgb(255, 255, 255);
    
}


  table tr {
    text-align: center;
    background-color: #fff;
    color:rgb(0, 0, 0);
}