table {
    font-family: Roboto, sans-serif;    
    table-layout: fixed;
    width: 75%;
    margin: 0 auto;
  }
  
  table td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    flex: 1;
  }
  
  table tr{
    background-color: #fff;
  }

  table tr:hover {
    cursor: pointer;
    background-color: #E9E8FF;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FF5722;
    color: white;
    flex: 1;
  }